[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blinker = "*"
click = "*"
flask = "*"
importlib-metadata = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
werkzeug = "*"
zipp = "*"
mysql-connector-python = "*"
python-dotenv = "*"
pymysql = "*"
flask-login = "*"
flask-bcrypt = "*"
pyserial = "*"
arduino-iot-cloud = "*"
swig = "*"
bokeh = "*"
arduino-iot-client = "*"
requests-oauthlib = "*"
flask-rq2 = "*"
rq-scheduler = "*"
rq = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
