<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='switch.min.css') }}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('index') }}">Landing</a>
                <a class="navbar-item" href="{{ url_for('login') }}">Login</a>
                <a class="navbar-item" href="{{ url_for('register') }}">Register</a>
            </div>

            <div class="navbar-end">
                <a class="navbar-item" href="{{ url_for('logout') }}">Logout</a>
                <a class="navbar-item" href="{{ url_for('profile') }}">Profile</a>
            </div>
        <div>
    </nav>
    
    <!-- Display Flask's flashed messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <section class="section" id="alert_center">
        {% for message in messages %}
            <div id="notif{{loop.index}}"class="notification is-primary">
                {{ message }}
                <button class="delete" onClick="deleteNotification({{loop.index}})"></button>
            </div>
        {% endfor %}
        </section>
    {% endif %}
    {% endwith %}

    <section class="section">
        <h1 class="title">Profile</h1>
        <h2 class="subtitle">Howdy, {{ user.email }}</h2>

        <div class="container">
            <h3 class="subtitle"><strong>Hubs</strong></h3>
            {% if user.hubs == [] %}
                No hubs connected.
            {% else %}
                {% for hub in user.hubs %}
                <div class="container">
                    <h4 class="subtitle">Hub_{{hub.id}}</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Zone Number</th>
                                <th>Valve Status</th>
                                <th>Zone Threshold</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="/update_valves" method="post" id="valves"></form>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <div class="field">
                                            <label class="switch is-rounded">
                                                <input type="checkbox" {{ 'checked' if valve_data[hub.id][0] else '' }} {{ 'disabled' if valve_data[hub.id][1] else '' }} name="valve1" form="valves" id="valve1">
                                                <span class="check"></span>
                                                <span class="control-label">Open Valve?</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <form action="/update_threshold" method="post" id="threshold_{{hub.id}}_1">
                                            <input class="input" type="number" placeholder="Set threshold here..." value="{{hub.thresholds[0]}}"
                                                name="threshold" />
                                            <input type="hidden" name="device_id" value="{{hub.id}}">
                                            <input type="hidden" name="zone" value="1">
                                        </form>
                                    </td>
                                    <td><button class="button is-primary" type="submit" form="threshold_{{hub.id}}_1">Update Threshold</button></td>
                                </tr>
                                {% if user.sensors[hub.id][1] == [] %}
                                    <tr>
                                        <td>
                                        No associated sensors for Zone 1.
                                        </td>
                                    </tr>
                                {% else %}
                                    {% for sensor in user.sensors[hub.id][1] %}
                                    <tr>
                                        <td>Sensor_{{sensor.id}}</td>
                                        <td>{{data[hub.id][1][sensor.id]}}</td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <div class="field">
                                            <label class="switch is-rounded">
                                                <input type="checkbox" {{ 'checked' if valve_data[hub.id][1] else '' }} {{ 'disabled' if valve_data[hub.id][0] else '' }} name="valve2" form="valves" id="valve2">
                                                <span class="check"></span>
                                                <span class="control-label">Open Valve?</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <form action="/update_threshold" method="post" id="threshold_{{hub.id}}_2">
                                            <input class="input" type="number" placeholder="Set threshold here..." value="{{hub.thresholds[1]}}"
                                                name="threshold" />
                                            <input type="hidden" name="device_id" value="{{hub.id}}">
                                            <input type="hidden" name="zone" value="2">
                                            
                                        </form>
                                    </td>
                                    <td><button class="button is-primary" type="submit" form="threshold_{{hub.id}}_2">Update Threshold</button></td>
                                </tr>
                                {% if user.sensors[hub.id][2] == [] %}
                                <tr>
                                    <td>No associated sensors for Zone 2.</td>
                                </tr>
                                {% else %}
                                {% for sensor in user.sensors[hub.id][2] %}
                                <tr>
                                    <td>Sensor_{{sensor.id}}</td>
                                    <td>{{data[hub.id][2][sensor.id]}}</td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                <tr>
                                    <td>
                                        <button class="button is-primary" type="submit" form="valves">
                                            Update Valves
                                        </button>
                                        <input type="hidden" name="device_id" value="{{hub.id}}" form="valves">
                                    </td>
                                    <td>
                                        <form action="make_autonomous" method="post" id="autonomous_{{hub.id}}">
                                            <button class="button is-primary" type="submit" form="autonomous_{{hub.id}}">Make Auto</button>
                                            <input type="hidden" name="device_id" value="{{hub.id}}" form="autonomous_{{hub.id}}">
                                        </form>
                                    </td>
                                </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="container">
            <form action="/create_hub" method="get" target="_blank">
                <button class="button is-primary" type="submit">Add a Hub (+)</button>
            </form>
            <form action="/create_sensor" method="get" target="_blank">
                <button type="submit" class="button is-primary">Add a Sensor (+)</button>
            </form>
        </div>
    </section>

	<!-- Define component to show soil moisture data -->
    <section class="section">
        <div class="container">
            <h3 class="subtitle"><strong>View Water Usage over Time</strong></h3>
            <form action="/flow_graph" method="post" target="" >
                <div class="field">
                    <label class="label">Start Date</label>
                    <input type="datetime-local" name="start" 
                        min="2024-01-01T00:00" max="2024-12-31T23:58">
                </div>
                <div class="field">
                    <label class="label">End Date</label>
                    <input type="datetime-local" name="end" 
                        min="2024-01-01T00:01" max="2024-12-31T23:59">
                </div>
                <button class="button is-primary" type="submit">Show</button>
            </form>
        </div>
    </section>

    <!-- Client-side Javascript to delete notifications -->
    <script>
        function deleteNotification(id) {
            document.getElementById(`notif${id}`).remove();

            if (document.querySelectorAll('.notification').length == 0) {
                document.getElementById('alert_center').style.display = 'none';
            }
        }

        // Get references to the valvees
        const valve1 = document.getElementById('valve1');
        const valve2 = document.getElementById('valve2');

        function updateValveState() {
            if (valve1.checked) {
                valve2.disabled = true;
            } else {
                valve2.disabled = false;
            }

            if (valve2.checked) {
                valve1.disabled = true;
            } else {
                valve1.disabled = false;
            }
        }

        // Add event listeners to each valve
        valve1.addEventListener('change', updateValveState);

        valve2.addEventListener('change', updateValveState);

        // Prevent unchecked checkboxes from being clicked when disabled
        valve1.addEventListener('click', function (e) {
            if (valve1.disabled) {
                e.preventDefault(); // Prevent action if the valve is disabled
            }
        });

        valve2.addEventListener('click', function (e) {
            if (valve2.disabled) {
                e.preventDefault(); // Prevent action if the valve is disabled
            }
        });
    </script>
</body>

</html>