<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('index') }}">Landing</a>
                <a class="navbar-item" href="{{ url_for('login') }}">Login</a>
                <a class="navbar-item" href="{{ url_for('register') }}">Register</a>
            </div>

            <div class="navbar-end">
                <a class="navbar-item" href="{{ url_for('logout') }}">Logout</a>
                <a class="navbar-item" href="{{ url_for('profile') }}">Profile</a>
            </div>
        <div>
    </nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <section class="section">
            {% for message in messages %}
                <div class="notification is-primary">
                    {{ message }}
                </div>
            {% endfor %}
            </section>
        {% endif %}
        {% endwith %}

    <section class="section">
        <h1 class="title">Profile</h1>
        <h2 class="subtitle">Howdy, {{ user.email }}</h2>

        <div class="container">
            <h3 class="subtitle"><strong>Devices</strong></h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Device Name</th>
                        <th>Reading</th>
                        <th>Last Updated</th>
                        <th>Soil Moisture Threshold</th>
                    </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                    {% if user.devices == [] %}
                        <tr>
                            <td>No devices available.</td>
                        </tr>
                    {% else %}
                        {% for device in user.devices %}
                        <tr>
                            <td>
                                {% if device.device_type == 0 %}
                                Sensor_{{device.id}}
                                {% else %}
                                Hub_{{device.id}}
                                {% endif %}
                            </td>
                            <td>
                                {% if device.device_type == 0 %}
                                {{device.read('moistureLevel')}}
                                {% else %}
                                N/A
                                <!-- {{device.water_flow}} -->
                                {% endif %}
                            </td>
                            <td>
                                N/A
                                <!-- {% if device.device_type == 0 %}
                                {{device.last_time}}
                                {% else %}
                                N/A
                                {% endif %} -->
                            </td>
                            <td>
                                {% if device.device_type == 0 %}
                                <form action="/update_threshold" method="post" id="threshold_{{device.id}}">
                                    <input class="input" type="number" placeholder="Set threshold here..." value="{{device.threshold}}" name="threshold"/>
                                    <input type="hidden" name="device_id" value="{{device.id}}">
                                </form>
                                {% else %}
                                N/A
                                <!-- {{device.water_flow}} -->
                                {% endif %}
                            </td>
                            <td>
                                <button class="button is-success" type="submit" form="threshold_{{device.id}}">Update Threshold</button>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </section>

    <!-- Define form to add a device -->
    <section class="section">
        <div class="container">
            <h3 class="subtitle"><strong>Add a Device</strong></h3>
            <form action="" method="post">
                <div class="field">
                    <label class="label" for="device_key">Device Key</label>
                    <div class="control">
                        <input class="input" name="device_key" type="text" placeholder="Enter device key...">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="device_id">Device ID</label>
                    <div class="control">
                        <input class="input" name="device_id" type="text" placeholder="Enter device ID...">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Device Type</label>
                    <div class="control">
                        <div class="select">
                            <select name="device_type">
                                <option value="0">Sensor</option>
                                <option value="1">Hub</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Soil Type</label>
                    <div class="control">
                        <div class="select">
                            <select name="soil_type">
                                <option value="0">Sandy</option>
                                <option value="1">Loamy sand</option>
                                <option value="2">Sandy loam</option>
                                <option value="3">Loam</option>
                                <option value="4">Silt loam</option>
                                <option value="5">Sandy clay loam</option>
                                <option value="6">Sandy clay</option>
                                <option value="7">Clay loam</option>
                                <option value="8">Silty clay loam</option>
                                <option value="9">Silty clay</option>
                                <option value="10">Clay</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="button is-success" type="submit">Submit</button>
            </form>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h3 class="subtitle"><strong>View Soil Moisture Levels</strong></h3>
            <form action="/soil_graph" method="post" target="_blank" >
                <div class="field">
                    <label class="label">Start Date</label>
                    <input type="datetime-local" name="start" min="2024-01-01T00:00" max="2024-12-31T23:58">
                </div>
                <div class="field">
                    <label class="label">End Date</label>
                    <input type="datetime-local" name="end" min="2024-01-01T00:01" max="2024-12-31T23:59">
                </div>
                <button class="button is-success" type="submit">Show</button>
            </form>
        </div>
    </section>
</body>

</html>